{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block content %}

<div class="row">

  <div class="col-xs-12">

    <h3>Try a Search!</h3>
    <form action="search" method="POST">
      <div class="form-group">

        <div class="row">
          <div class="col-xs-6">
            <label for="startDate">Start Date</label>

            <div class="row">
              <div class="col-xs-12"><input type="text" class="form-control" id="startDate" name="startDate" placeholder="2017-06-01" value="2017-06-01"></div>
            </div>
          </div>
          <div class="col-xs-6">
            <label for="endDate">End Date</label>
            <div class="row">
              <div class="col-xs-12"><input type="text" class="form-control" id="endDate" name="endDate" placeholder="2017-11-31" value="2017-11-30"></div>
            </div>
          </div>
        </div>

        <label for="keywords">Enter some keywords</label>
        <input type="text" class="form-control" id="keywords" name="keywords" placeholder="puppy" value="puppy">
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>

    <hr />

    <h3>Results</h3>
    <div class="results"></div>
  
  </div>

</div>    

{% endblock %}